<!DOCTYPE html>
<html>
<head>
	<title>Admin Acount Page</title>
	<link rel="stylesheet" href="css/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="centred">
      <nav class="nav">
          <a id="text-nav" href="index.html">HOME</a> 
          <a id="text-nav" href="AdminStartPage.html">START PAGE</a> 
          <a id="text-nav" href="AdminAcountPage.html">MY ACOUNT</a> 
          <a id="text-nav" href="contact.html">CONTACT</a> 
          
      </nav>    
</div> 
</body>
</html>