<!DOCTYPE html>
<html>
<head>
	<title>Admin Start Page</title>
	<link rel="stylesheet" href="css/stylesheet.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="centred">
      <nav class="nav">
          <a id="text-nav" href="index.html">HOME</a> 
          <a id="text-nav" href="AdminStartPage.html">START PAGE</a> 
          <a id="text-nav" href="AdminAcountPage.html">MY ACOUNT</a> 
          <a id="text-nav" href="AdminAcountPage.html">ADD NEW EMPLOYEE</a> 
                   

      </nav>
</div> 

<div class="centred" >
	<h1><strong>Projets : </strong></h4>
	<div class="InLineDiv-StAdmPg">
		<h2>Client Request</h2>
		<input type="text" id="listStPg" name="CliReq" >
	</div>
		
	<div class="InLineDiv-StAdmPg">
		<h2>Asigned Project</h2>
		<input type="text" id="listStPg" name="AsignPro" >
	</div>

	<div class="InLineDiv-StAdmPg">
		<h2>Done Project</h2>
		<input type="text" id="listStPg" name="DonePro" >
	</div>

	
</div>

<div class="centred" >
	
	<div class="InLineDiv-StAdmPg">
		<h2><strong>Developers</strong></h2>
		<input type="text" id="listStPg" name="developer" >
	</div>
	<div class="InLineDiv-StAdmPg">
		<h2>Clients</h2>
		<div >
    		<input type="text" id="search" name="search" value="Search" >
    		<input type="image" name="submit" class="button-search" src="css/img/search.png" > 
    	</div>
		<input type="text" id="listStPg" name="CliReq" >
	</div>
</div>





</body>
</html>