<!DOCTYPE html>
<html>
<head>
	<title>Client Start Page</title>
	<link rel="stylesheet" href="css/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="centred">
      <nav class="nav">
          <a id="text-nav" href="index.html">HOME</a> 
          <a id="text-nav" href="ClientStartPage.html">START PAGE</a> 
          <a id="text-nav" href="RegisterProject.html">REGISTER PROJECT</a> 
           <a id="text-nav" href="ClientAcountPage.html">MY ACOUNT</a> 
          <a id="text-nav" href="contact.html">CONTACT</a> 
         
      </nav>    
  </div> 

  <div class="centred" >
  <div class="InLineDiv-StAdmPg">
    <h2>Your Request</h2>
    <input type="text" id="listStPg" name="YourReq" >
  </div>
    
  <div class="InLineDiv-StAdmPg">
    <h2>In Progress Projects</h2>
    <input type="text" id="listStPg" name="InProgrPro" >
  </div>

  <div class="InLineDiv-StAdmPg">
    <h2>Unassigned Projects</h2>
    <input type="text" id="listStPg" name="DonePro" >
  </div>

  </div>
</body>
</html>