<!DOCTYPE html>

<html>
<head>
    <title>Contact Page</title>
	<link rel="stylesheet" href="css/stylesheet.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="contact">

<div class="centred">
      <nav class="nav">
	      <a id="text-nav" href="index.html">HOME</a> 
	      <a id="text-nav" href="Login.html">LOGIN</a> 
	      <a id="text-nav" href="contact.html">CONTACT</a>
	  </nav>
</div>  
<img class="img-bottom" src="css/img/contact.jpg">

</body>

</html>