<!DOCTYPE html>

<html>
<head>
    <title>Forgot Password Page</title>
	<link rel="stylesheet" href="css/stylesheet.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="login">

<div class="centred">
      <nav class="nav">
	      <a id="text-nav" href="index.html">HOME</a> 
	      <a id="text-nav" href="Login.html">LOGIN</a> 
	      <a id="text-nav" href="contact.html">CONTACT</a> 
	     
	  </nav>
</div> 

<!--<div  class="login-form">
	<h3>Username: <input type="text" name="username" value=""></h3><br>
    <h3>Password: <input type="text" name="password" value=""></h3><br>

    <a href="AdminStartPage.html"><button id="button-style" >Login</button></a>
</div>

<a href="Register.html"><button class="login-form" id="button-style">REGISTER as a member</button></a>-->
<div class="container">
	<form action="/action_page.php">
    	<label for="fname">Username:</label>
    	<input type="text" id="username" name="username" >

    	<label for="lname">ID Acount</label>
    	<input type="text" id="idacount" name="idacuont" >

    	<label for="lname">New Password</label>
    	<input type="text" id="password" name="password" >

    	<label for="lname">Retype new passowrd </label>
    	<input type="text" id="password" name="password" >

    	<a href="ClientStartPage.html"><input type="submit" value="Login"></a>

	</form>
</div>

</body>

</html>