<!DOCTYPE html>
<html>
<head>
    <title>Register Page</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="centred">
      <nav class="nav" >
          <a id="text-nav" href="index.html">HOME</a> 
          <a id="text-nav" href="Login.html">LOGIN</a> 
          <a id="text-nav" href="contact.html">CONTACT</a>
      </nav>
</div> 
<h3>Register Form</h3>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="Uname">Username</label>
    <input type="text" id="Uname" name="username" placeholder="Your Username..">

    <label for="Pass">Password</label>
    <input type="text" id="Pass" name="passwoed" placeholder="Your Password..">


    <label for="country">Country</label>
    <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
        <option value="romania">Romania</option>
        <option value="ungaria">Ungaria</option>
    </select>


    <input type="submit" value="Submit">
  </form>
</div>

</body>
</html>